<div class="wrapper">
  <app-error-modal  
    *ngIf="errorMessage"
    [title]="'Dialog Title'"
    (close)="handleClose()"
  >
    <div body-content><h2>{{ errorMessage }}</h2></div>
  </app-error-modal>
  <div class="screen">
    <div class="screen__content">
      <form class="login" #f="ngForm">
        <div class="login__field">
          <img
            width="24"
            height="24"    
            src="https://img.icons8.com/material-sharp/24/user.png"
            alt="user"
          />
          <input
            type="text"
            class="login__input"
            placeholder="User name / Email"
            name="email"
            [(ngModel)]="email"
            required
            email
            ngModel
          />
        </div>
        <div class="login__field">
          <img
            width="24"
            height="24"
            src="https://img.icons8.com/material-rounded/24/lock--v1.png"
            alt="lock--v1"
          />

          <input
            type="password"
            class="login__input"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            required
            ngModel
          />
        </div>
        <button
          class="button login__submit"
          (click)="onLogin()"
          [disabled]="!f.valid"
        >
          <span class="button__text">Log In Now</span>
          <img
            width="30"
            height="30"
            class="button__icon"
            src="https://img.icons8.com/ios-glyphs/30/circled-chevron-right.png"
            alt="circled-chevron-right"
          />
        </button>
        <button class="button login__submit" routerLink="/app1/home/register">
          <span class="button__text">Register</span>
          <img
            width="30"
            height="30"
            class="button__icon"
            src="https://img.icons8.com/ios-glyphs/30/circled-chevron-right.png"
            alt="circled-chevron-right"
          />
        </button>
      </form>   
      <div class="forgot-pass">
        <a > Forgot Password?</a>
      </div>
     <!-- <button><a href="http://localhost:3000/gog" (click)="googleLogin()">Login with google</a></button> -->
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
