<div class="parent" *ngIf="isVisible">
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>{{tableHeading}}</h2>
                  </div>
                  <div class="col-sm-6" >
                    <a
                    (click)="closeComponent()"
                      class="btn btn-success"
                      ><i class="fa fa-times" aria-hidden="true"></i
                      ><span >Close</span></a
                    >
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-4">Date</th>
                        <th class="col-sm-4">User</th>
                        <th class="col-sm-4">Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let other of otherSubData">
                        <td>{{other.submittedat}}</td>
                        <td>{{other.submittedby}}</td>
                        <td>{{state}}</td>
                        <td [routerLink]="'/app1/home/user-home/submitted-forms/' + other.formid + '/' + 'edit' + '/' + other.id">View</td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
