.nb{
    background-color: #164863;
}
a{
    color: white;
}

.active-link {
  background-color: gray;
  }
  nav{
    margin: 19px;
    border-radius: 5px;
  }
  .navbar-brand{
    margin-left: 10px;
    font-weight: bold;
  }
  .navbar-main{
    margin-left: 15px;
    padding: 5px;
    display: flex;
    /* justify-content:stretch; */
  }

  .aclass{
    color: white;
    margin-left: 10px;
    padding: 5px;
  }
 .last{
  margin-left: 20%;
  display: flex;
  justify-content: center;
  width: 34px;
  height: 34px;
 }
 .navbarul{
  width: 80%;
 }