@import "https://code.highcharts.com/5/css/highcharts.css";

.highcharts-plot-background {
  fill: #555651;
}
.highcharts-plot-border {
  stroke-width: 2px;
  stroke: #7cb5ec;
}
.controls,
.main-area {
  border: 1px solid black;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  /* background-color: #99cce6; */
}
.controls-container {
  padding: 5px;
  max-height: 200px;
  overflow: auto;
}
.heading {
  display: flex;
  justify-content: center;
}

.main-area {
  height: 700px;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

.axis {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 700px;
}
.x-axis,
.y-axis,
.customize {
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
  padding: 5px;
}
.noselection {
  display: flex;
  justify-content: center;
  margin: 50px;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
}
.msg {
  margin: 30px;
  font-size: xx-large;
  font-weight: bold;
  padding: 100px;
}
.custom-icon {
  color: dimgrey;
  border-radius: 50%;
  padding: 2px;
}
.customize {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  width: 121px;
  height: 61px;
  color: white;
  background-color: #192655;
}
.x-custom {
  border: 1px solid black;
  margin: 30px;
  height: 500px;
  background-color: #ebf2f6;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 2;
}
.x-custom input,
label,
select,
h2,
button {
  padding: 10px;
  margin: 10px;
}
.charts-area {
  margin: 10px;
  height: 600px;
}
.custom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.filename{
  /* text-decoration: none; */
  color:cadetblue;
}