<div class="parent">
  <app-error-modal
    *ngIf="successMsg"
    [title]="'Dialog Title'"
    [showOkButton]="true"
    (okClick)="handleOkClick()"
    (close)="handleClose()"
  >
    <div body-content>
      <h2>{{ successMsg }}</h2>
    </div>
  </app-error-modal>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>ALL <b>Forms</b></h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="col-sm-1">Form ID</th>
            <th class="col-sm-2">Form Title</th>
            <th class="col-sm-2">State</th>
            <th class="col-sm-2">Status</th>
            <th class="col-sm-2">Export CSV</th>
            <th class="col-sm-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let form of forms">
            <td>{{ form.id }}</td>
            <td>{{ form.title }}</td>
            <td>
              {{ form.state }}
            </td>
            <td>
              {{ form.status }}
            </td>   
            <td>
              <button class="btn btn-primary btn-sm" (click)="exportCsv(form.id, form.title)">Export </button>
              <div class="filter" *ngIf="filterVisible && selectedForm && selectedForm.id === form.id">
               <input type="date" [(ngModel)]="selectedStartDate">
               <input type="date" [(ngModel)]="selectedEndDate">
               <button class="apply-btn"(click)="applyFilter(form.id, form.title)">Apply</button>
               <button class="apply-btn" (click)="closeFilter()">Cancel</button>
              </div>
            </td>
            <td>
              <i class="fa fa-edit" routerLink="{{ form.id }}"></i>
            </td>
            <td>
              <i
                class="fa fa-trash"
                aria-hidden="true"
                (click)="deleteForm(form.id)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        (pageChange)="onPageChange($event)"
        class="float-end mb-3 pagination"
      >
      </pagination-controls>
      
    </div>
  </div>
  
</div>
